.container {
    text-align: center;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
  }

  #value {
    font-size: 6rem;
    font-weight: bold;
  }

  .btn {
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 50px;
    margin: 1rem;
    cursor: pointer;
  }

  .btn:hover {
    color: yellow;
    background: rgba(0, 0, 0, 0.2);
  }